
body{
  background:rgb(247, 238, 238);
  font-size: 18px;
  line-height: 1.8;
  
}
 .container-fluid {
  margin: 0;
  padding: 0;
}

   .video-background{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  z-index:0;
}

.header-background{
position:relative;
z-index:1;
width:100%;
height:70vh;
overflow:hidden;
margin-bottom:3px;
}

/* Video or image background at the start of all webpage html*/
.watoto-logo img {
  max-width:200px;
  height:auto;
  position:absolute;
  top: 15px;
  left:15px;
  z-index:10;
  opacity:1;

}


.watoto-video,.lazy-image{
  width:100%;
  height:100%;
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
  object-fit: cover;

  transition: opacity 1s ease; /* Smooth fade-in for video */ 
}
.lazy-image {
  z-index: 1; /* Place behind the video */
 
}
.watoto-video {
  z-index: 1; /* Video over fallback */
  transition: opacity 1s ease; /* Smooth fade-in for video */
}




.video-text{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    z-index: 1;
    width:80%;
    opacity:1;
    opacity:1;
}



.watoto-banner img{
  width:100%;
  height:70vh;
  object-fit: cover;
  top:0;
  left:0;
  position:absolute;
  display:flex;
}
.banner-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
   /* Start as hidden for a smooth transition */
  transition: opacity 1s ease; 
  /* Smooth fade-out transition */
  z-index:2;
}

/* .image-background{
 
} */
.back-links{
  position:absolute;
  z-index:2;
  width:100%;
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  top:65%;
  gap: 80px; /* Space between the two items */
 
}
.back-links h4{
  margin:0;
  color:white;
  padding:20px;
  text-decoration:none;
  background-color: #2975c7;
}
.back-links a h4{
  background-color: #007BFF;
  color:white;
}

.back-links h4:hover{
  text-decoration: solid;
 
}



.navbar {
  position:relative;
  display:flex;
  z-index:3;
}
/* .nav-elements{
  display: flex;
  position:relative;
  width:50vw;
  height:auto;
} */
.button-wrapper{
  top:15px;
  right:15px;
  padding:10px;
  position:absolute;
  z-index:5;
}
.navbar-collapse{
  top:80px;
  right:70px;
  padding:10px;
  position: absolute;
  z-index:5;
  background-color: #0078C8;
  width:300px;
  height:auto;
  /* top: 60px; */
    /* right: 15px; */
    /* padding: 20px; */
    position: absolute;
    background-color: #0078C8;
    /* width: 250px; */
    max-width: 80vw;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
 
}
.navbar-toggler:focus
/* .navbar-toggler:active */ {
    outline: none;
    box-shadow: none;
    background: none;
}
.navbar-collapse .nav-item a:hover,
.navbar-collapse .nav-item a:focus,
.navbar-collapse .nav-item a:active{
  background-color: white;
}
.navbar-collapse ul li a{
  color:white;
  padding: 8px 15px;
  font-size: 1rem;
}
.dropdown-menu{ 
  background-color: #0056b3;
}


/* Toggler button styling */
.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
/* Remove outline on click */
.navbar-toggler:focus {
  outline: none;
}

.bar{
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition: all 0.1s ease;
  background-color: #2fe3e4;
  transition: background-color 0.3s ease;
}
.navbar-toggler.active .bar {
  background-color: white;
}

/* Collapse content */
/* .navbar-collapse{
  display: none; 
} */
/* Toggler button transformation */
.navbar-toggler.active .bar:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9.5px;
}

.navbar-toggler.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -9.5px;
}
/* Show the navbar-collapse when active */
.navbar-collapse.show {
  display: block; 
}
.custom-toggler{
  display:flex;
  size:-20%;
  margin-bottom: 1px;
  padding-bottom: 0;
}

/* search button functuonality*/

.search-container{
  position:absolute;
  display:flex;
  align-items: center;
  top:30px;
  right:120px;
  padding:10px;
}
.search-input{
  width:0;
  opacity: 0;
  transition: width 0.4s ease, opacity 0.4s ease;
  position: absolute;
  right: 30px;/* adjust as needed*/
  top: 100%;
  z-index:5;
  transform: translateY(-0%);
}
.search-btn{
  background:none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position:absolute;
  z-index:5;
}

.search-btn i{
  color:white;
}
.close-btn{
  background:none;
  border:none;
  font-size: 1.5rem;
  cursor: pointer;
  display:none;
  position:absolute;
  right:15px;
  top:89%; 
}
.search-container.active .search-input.show{
  width: 400px;
  opacity: 1;
  
}
.search-container.active  .close-btn.show{
  display:block;
}
/* end of search button functionality*/

.tile-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the div without distortion */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.outreach-tile,.impact-tile, .involved-tile{
    background-size: cover;
    overflow:hidden;
    margin-right:10px;
    /* width:400px; */
    width: 32%;
    height:341px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack the h2 and a tag vertically */
    object-fit:cover;
}
.outreach-tile h2{
 position: relative;
 margin-bottom: 20px;
 font-size: 50px;
 z-index: 2;
 color: white;
}
.outreach-tile h2,
.outreach-tile a p,
.impact-tile h2,
.impact-tile a p,  
.involved-tile h2,
.involved-tile a p{
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Black shadow */
}
.outreach-tile a{
  position: relative;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
  text-decoration: none;
}
.outreach-tile a p{
    margin: 0;
}

.impact-tile h2{
 position: relative;
 margin-bottom: 20px;
 font-size: 50px;
 z-index: 2;
 color: white;
}
.impact-tile a{
  position: relative;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
  text-decoration: none;
}
.impact-tile a p{
    margin: 0;
}

.involved-tile h2{
 position: relative;
 margin-bottom: 20px;
 font-size: 50px;
 z-index: 2;
 color: white;
}
.involved-tile a{
  position: relative;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
  text-decoration: none;
}
.involved-tile a p{
    margin: 0;
}
.heading-next{
    width:700px;
    height:100px;
    text-align:center;
    background-color: #007BFF;
    color:white;
    display:flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
    animation: tick-tock 1s ease-in-out infinite; /* Applies animation */
}
.heading-next h2{
    text-align:center;
    margin:0;
}
@keyframes tick-tock {
  0%, 100% {
      transform: scale(1); /* Normal size */
  }
  50% {
      transform: scale(1.05); /* Slightly larger for "tick" */
  }
}




.tiles-next {
    gap: 10px; /* Adds space between the tiles */
  }
  
  .t-next-1 {
    flex: 0 0 70%; /* Takes 70% of the available width */
    position:relative;
    /* align-items:flex-start;
    justify-content:flex-start; */
  }

  .t-next-1 img{
    width:100%;
    height:600px;
    object-fit:cover;
  }
  .t-next-1 .happenings-txt{
    position:absolute;
    bottom:10%; /* Position text 30px from the bottom */
    left: 30px; /* Position text 30px from the left */
    padding:0;
    display:flex;
    color:white;
    z-index:2;
    margin:0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Black shadow */
  }
  .t-next-1 .happenings-txt span{
    position:absolute;
    bottom:-30px; 
    left:0; 
    padding:0;
    z-index:2;
    display:block;
  }
  .happenings-txt a{
   text-decoration: none;
   color:white;
  }
  
  .t-next-2  {
    flex: 0 0 30%; /* Takes 100% of the available width */
    flex-direction: column; /* Stacks the two images vertically */
    gap: 10px; /* Adds space between the two images */
   
  }
  .hextra{
    position:relative;
  }
  
  .t-next-2 img {
    width: 100%;
    height:295px; /* Ensures that the images take up the full width of the container */
    object-fit:cover;
  }
  .t-next-2 .happenings-txt{
    position:absolute;
    bottom:15%; /* Position text 30px from the bottom */
    left: 30px; /* Position text 30px from the left */
    padding:0;
    display:flex;
    color:white;
    z-index:2;
    margin:0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Black shadow */
  }
  .t-next-2 .happenings-txt span{
    position:absolute;
    bottom:-30px; 
    left:0; 
    padding:0;
    z-index:2;
    display:block;
  }

  /* .txt-next-1 {
    flex:0 0 100%;
    display:flex;
    flex-direction: column;
  } */
  .latest{
    text-align:center ;
    color:#007BFF;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .updates{
    width:100%;
    height:auto;
    position:relative;
  }

  .updates img{
    width:100vw;
    height:100vh;
  }
  .updates .updates-txt{
   position:absolute;
   bottom:20px;
   left:20px;
   color:white;
  }
  .updates-txt a{
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Black shadow */
  }
  .short-update{
    width:100%;
    height: auto;
    border:7px solid white;
    background-color:#007BFF;
    color:white;
    display:block;
    justify-content: center;
    align-items: center;
   margin-right:0;
   padding:5px;
  }
  .short-update p{
    padding:15px;
  }
  .short-update .read-more a {
    display: inline-block; /* Ensures proper padding and spacing */
    color: #fff; /* White text for visibility */
    background-color: #ff4500; /* Bright orange for contrast */
    font-size: 0.9rem; /* Slightly smaller than the paragraph text */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes it stand out */
    padding: 5px 10px; /* Adds clickable space */
    border-radius: 4px; /* Rounded corners for a modern look */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  }
  
  .short-update .read-more a:hover {
    background-color: #ff6347; /* Lighter orange on hover */
    color: #000; /* Black text on hover for contrast */
  }
  
  .short-updates p{
    text-align: right;
 
  }
  .highlight{
    text-align:center ;
    color:#007BFF;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .snapshot {
    position: relative;
    overflow: hidden;
    margin-bottom:5px;
    padding-right:1px;

  }
 
  .snapshot .shimmer {
    display: flex;
    /* Ensure the shimmer covers the whole space of snapshot */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Optional shimmer background */
  }
  
  .snapshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
  }
  
  .snapshot:hover .overlay {
    opacity: 1;
    transform: translateY(0); /* Bring the overlay text on top */
  }
  
  .snapshot:hover img {
    transform: scale(1.1); /* Zoom the image on hover */
  }
  .subscribe-container{
    width:100%;
    height:200px;
    position:relative;
    background-color: #007BFF;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
  }
  .subscribe-container h3{
    /* position:absolute;
    display:flex;
    left:50%;
    top:10%;
    transform: translate(-50%, -10%);
      */
    font-size: 2em; /* Responsive font size */
    color:white;
  }
  .subscribe-container h5{
    /* position:absolute;
    left:50%;
    top:30%;
    transform: translate(-50%, -30%);
    text-align: right; */
    margin: 10px 0; /* Add some space */
    color:white;
  }
  .subscribe-container input{
    /* position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); */
    border-radius: 5px;
    border-color: 1px solid #233547;
    width: 80%; /* Use percentage for responsive width */
    max-width: 400px; /* Maximum width */
    height: 40px;
    padding: 0 10px; /* Add padding for better UX */
  }
  .subscribe-container button{
    /* position:absolute;
    left:50%;
    top:65%;
    transform: translate(-50%, -65%); */
    border-radius: 5px;
    background-color: #0056b3; /* Add background color for button */
    color: white; /* Set text color for button */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    margin-top:3px;
    
  }
  .subscribe-container button p{
    margin:0; 
  }
  .donate {
    width:100%;
    height:auto;
    position:relative; 
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:30px;
    margin-top:50px;
    z-index: 2;
  }
  
  
  .donate h2{
   margin-top:-30px;
    width:100%;
    height:auto;
    padding: 5px;
    background-color:#0078C8;
    text-align: center;
    /* border: 2px solid white; */
    color:white;
    align-self: flex-start;
    z-index: 2;
  }
  .donate a{
    text-decoration:none;
    z-index: 2;
  }
  .donate .mkw h2{
    width:100%;
    height:auto;
    padding: 5px;
    background-color:#0078C8;
    border: 2px solid white;
    color:white;
    text-align: center;
  }
  .donate .involved, .donate .mkw{
    z-index: 2;
  }

  .donate .involved h2{
    width:100%;
    height:auto;
    padding: 5px;
    background-color:#0D3C55;
    border: 2px solid white;
    color:white;
    text-align: center;
   
  }
  .donate .partners{
    display:flex;
    flex-direction: row;
    z-index:2;
  }
  .donate .thepartner img{
    width:60%;
    height:auto;
    position:relative;
    transition: transform 3s ease;
    object-fit:cover;
   
   
  }
  .donate .thepartner p{
    opacity: 0;
    bottom:0;
    left:0;
    transform: translateY(100%);
    background-color:rgb(33, 123, 202);
    background-size: contain;
    color:white;
  
  }
  .donate .thepartner:hover p{
    opacity: 1;
    transform: translateY(0);
  
  }
  .donate-background{
    width: 100%;
    height:300px;
    object-fit: cover; /* Ensures the image covers the div without distortion */
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 1;
    }
    /* .donate-here-container ,.header-background{
      ma
    } */


    .main-container {
      position:relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; /* Ensures spacing between child elements */
      margin-top:0;
    
    }
    .donate-here-container{

      position:relative;
      width:100%;
      height:auto;
      display:flex;
      align-items:center;
      justify-content: center;
      display:flex;
      /* margin-top:2px; */
      background-color: #ffffff; /* Add a white background to differentiate from the header */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for separation */
  
    }
    .donate-here{
      display:flex;
      width:50vw;
      height:auto;
      /* position:absolute; */
      text-align: center;
      flex-direction:column;
      display:flex;
      padding: 20px;
      background-color: #ffffff; /* Ensure the form has a solid background */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for effect */
    }

   
    .name-input{
      display:flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-between;
      margin-bottom:5px;
      /* margin-right:10px; */
      /* padding:5px; */
      /* width:200px;
      height:300px; */
      box-shadow:#0056b3;
    }
    .name-input1, .name-input2{
      height:50px;
      width:40%;
      display:inline-block;
     
    } 
    .details-input{
      display:flex;
      /* display:inline-block; */
      flex-direction:column;
       /* display:block; */
       box-shadow:#0056b3;
       /* align-items:center; */
      /* justify-content: center; */
      
    }
    .email-input{
      display:block;
      width:100%;
      height:50px;
      margin-bottom:5px;
    }
    .comment-input{
      width:100%;
      height:70px;
      display:block;
    }
    .send{
      /* display:flex; */
      height:50px;
      width: 50%;
      display:inline-block;
      background-color: #0078C8;
      margin:10px auto; /* Centers the button horizontally */
      color:white;
      text-align: center;
      margin: 10px auto; /* Centers the button horizontally */
      line-height: 50px; /* Vertically centers the text */
      cursor: hand; /* Optional: make it look like a button */
      border:none;
      
    }
    .send h4 {
      margin: 0; /* Ensure the h4 element inside the button doesn't have any extra margin */
    }
       /* Apply inner shadow to all input fields */
    .name-input1, .name-input2, .email-input, .comment-input {
     box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2); /* Creates inner shadow */
     border: 1px solid #ccc; /* Optional: gives a slight border */
     padding: 5px;
     border-color: #0078C8;
   }
   
   .m-donate{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
   }
   .mpesa-donation, .paypal-donation{
    margin-top:10px;
   }
   .pal-donate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
   .pal-donate img{
    width:50%;
    height: auto;
   }
   .pal-donate a{
    text-decoration: none;
   }
   .pal-donate a h4{
    text-decoration:none;
    background-color: #0078C8;
    border-color: 2px solid black;
    color:white;
    font-size:2em;
    padding:5px;

   }
   .pal-donate a h4 {
    margin: 0; /* Ensure the h4 element inside the button doesn't have any extra margin */
  }
  /* .team-text{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .team-text li{
    display:flex;
    
  } */
  .team-text {
    display:flex;
    flex-direction:column;
    line-height:1.5;
    padding:20px;
    /* font-size:14px; */
    
    
  }
  .team-text  h5 p{
    /* display:flex; */
    align-self: center; 
    
  }
  .team-text ul li{
    align-self:start;
    /* line-height:0.2; */
  }
  /* Shimmer effect styles */
  .shimmer::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  opacity: 1; /* Show shimmer initially */
  z-index: 2; /* Ensure shimmer is on top of the image *
  transition: opacity 0.5s ease-in; /* Smooth fade-in */
}
/* Fade-out effect on load */
.slow-load img.finished-loading + .shimmer::before {
  opacity: 0; /* Hide shimmer after the image loads */
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
 /* .slow-load img, h2, a{
  display:none;
 } */

 .finished-loading {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  z-index: 1; /* Ensure image appears above the shimmer once loaded */
  animation: none; /* Stop shimmer animation immediately */
}

/* .finished-loading img, h2, a{
  display:block;
 } */




 

  

   



    
 


/* MEDIA QUERIES*/
@media(max-width:1200px){


 .info .email-hide {
    font-size: 0.6rem; /* Slightly reduce font size for the email */
  }
}

    @media(max-width:992px){
        .foundation-face-tiles{
            flex-direction:column;
        }
        .outreach-tile, .impact-tile, .involved-tile{
            width:100%;
            height:50vh;  
            margin: 2px;
             padding:0;
            /* object-fit:cover;  */
        }
        .tile-image {
          width: 100%;
          height: 50vh;
        }
       
        .heading-next{
            width:100%;
        }
        .tiles-next{
           flex-direction:column; 
        }
        .t-next-1{
            flex: 0 0 100%;
            height:80vh;
        }
        .updates img{
          height:60vh;
        }
       
        .t-next-2{
            flex: 0 0 100%;
            height:80vh;
        }
        .t-next-1 img, .t-next-2 img {
            height:60vh;
        }
        
        .video-background{
          height:100vh;
          object-fit:cover;
        
        }
        .watoto-video{
          height:100vh;
        } 
        
         .watoto-logo img{
          max-width:150px;
          height:auto;
        }
        .m-donate img{
         width:50%;
         height:auto
        }
        .donate-here{
          display:flex;
          width:70vw;
        }
        
           
    }

    @media (max-width: 768px) {
      .subscribe-container h3 {
          font-size: 1.5em; /* Smaller font size on smaller screens */
      }
      .donate h2, .donate .mkw h2, .donate .involved h2{
        font-size: 1.5em;
       }
       .video-text{
        font-size: 0.9em;
        width: 90%; /* Narrow text container on smaller screens */
      }
      .watoto-logo img{
        max-width:100px;
        height:auto;
      }

      .overlay {
        font-size: 0.6em;
        
      }
      .donate-here{
        display:flex;
        width:80vw;
        font-size: 0.9em;
        width: 90%; /* Narrow text container on smaller screens */
      }
       /* Adjust only the search input and close button */
    .search-input {
    position: fixed;
    top: 80px; /* Position below button wrapper */
    left: 0; /* Center horizontally */
    width: 80%; /* Take 80% of screen width */
    /* opacity: 1;  */
    /* Make it visible */
    z-index: 2;
    transition: width 0.4s ease, opacity 0.4s ease;
    }

  .close-btn {
    position: fixed;
    top: 80px; /* Align with the search input */
    right: 2%; /* Position to the right edge of search input */
    /* display: block; */
    z-index: 4;
  }
  .search-container.active .search-input.show{
    /* width: 400px; */
    opacity: 1;
  }
  .search-container.active  .close-btn.show{
    display:block;
  }
  body {
    font-size: 16px; /* Slightly smaller for tablets */
 }
 .f-contents .row{
  align-items:center;
  
 }
 .info .email-hide {
  font-size: 0.9rem; /* Slightly reduce font size for the email */
}

 
   
      

      
      
    }
    @media (max-width: 576px) {
      .name-input, .details-input, .m-donate{
        display:flex;
        flex-direction:column;
        margin-bottom:5px;
      }
      .name-input1, .name-input2{
        width:100%;
        margin-bottom:5px;
      }
      .donate-here, .m-donate h5{
        display:flex;
        width:90vw;
      }
      .m-donate h5{
       display:flex;
       justify-content: center; 
       align-items: center;
      }
      .pal-donate a img{
       width:30%;
       height:auto;
      }
      .pal-donate a h4{
       font-size:1em;
       }
       .socials {
       font-size: 0.8em;
       gap:5px;
        }
        .socials i{
          font-size: 1em;;
        }
        .socials p{
          font-size: 0.9em;
        }
        .the-end{
     
         font-size: 0.9em;
        }
  
    .mkw-logo img{
      max-width: 150px;
      height:auto;
      padding-top:20px;
    }
    

    }
  
    @media (max-width: 480px) {
      .subscribe-container h3 {
          font-size: 1.2em; /* Even smaller font size for very small screens */
       }
       .donate h2, .donate .mkw h2, .donate .involved h2{
        font-size: 1.2em;
       }
       .video-text{
        font-size:0.8em;
        width: 95%; /* Extra narrow text width on smallest screens */
     }

     .watoto-logo img{
      max-width:90px;
      height:auto;
    }
    .overlay {
      font-size: 0.5em;
      
    }
    .donate-here, .m-donate h5{
      font-size:0.9em;
      width: 95%; /* Extra narrow text width on smallest screens */
    }
    body {
      font-size: 14px; /* Optimal for smaller screens */
   }
   .socials {
    font-size: 0.5em;
     
     }
     .socials p{
       font-size:0.5rem; 
     }
     .the-end{
      font-size: 0.9em;
     }
     .mkw-logo img{
      max-width: 100px;
      height:auto;
      padding-top:20px;
    }
    .footer{
      font-size:14px;
    }
  
   
    
    
    }
    @media(max-width:360px){
      .socials {
        font-size: 0.4em;
        gap:2px;
         }
        .socials i {
          font-size: 0.4rem;
           }
           .socials p {
           display:none;
             }
    }
    .wait-donation{
      position:relative
    }
    /* Style for the Back to Top button */
#back-to-top {
  position: absolute;
  bottom: 50%;
  right: 20px;
  background-color: #007bff; /* Adjust the color as needed */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  opacity: 1; /* Hidden by default */
  z-index:1001;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  /* background-color:;
  color:  */
  padding: 60px 0;
  font-size: 18px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
}

.footer a {
  color: var(--default-color) !important;
}

.footer a:hover {
  color: var(--accent-color);
}

.footer .copyright {
  margin-top: 50px;
  position: relative;
  padding-top: 20px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
}

.footer .copyright p,
.footer .copyright .credits {
  margin: 2px 0;
}

.footer .btn-learn-more {
  background-color: var(--accent-color);
  border-radius: 30px;
  padding: 8px 30px;
  border: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  font-size: 18px;
  
}

.footer .btn-learn-more:hover {
  border-color: #2fe3e4;
  background-color: transparent;
 
}

.footer .widget .widget-heading {
  font-size: 18px;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.footer .widget ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer .widget ul li a {
  color: color-mix(in srgb, var(--heading-color), transparent 50%);
}

.footer .widget ul li a:hover {
  text-decoration: none;
  color: var(--heading-color);
}

.footer .widget .footer-blog-entry .date {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 18px;
}

.footer .social-icons li {
  display: inline-block;
}

.footer .social-icons li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  background: color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .social-icons li a span {
  color: color-mix(in srgb, var(--heading-color), transparent 0%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;
}

.footer .social-icons li a:hover {
  background: var(--accent-color);
}

.footer .social-icons li a:hover span {
  color: var(--contrast-color);
}

.footer .social-icons li:first-child a {
  padding-left: 0;
}

.footer .footer-subscribe form {
  position: relative;
}

.footer .footer-subscribe .form-control {
  font-size: 18px;
  height: 42px;
  border: 2px solid color-mix(in srgb, var(--default-color), transparent 40%);
  background: none;
  color: var(--heading-color);
  padding-right: 40px;
}

.footer .footer-subscribe .form-control:focus {
  border-color: color-mix(in srgb, var(--default-color), transparent 10%);
  box-shadow: none;
}






/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
--background-color: #ffffff; /* Background color for the entire website, including individual sections */
--default-color: #007BFF; /* Default color used for the majority of the text content across the entire website */
--heading-color: #2975c7; /* Color for headings, subheadings and title throughout the website */
--accent-color: #2fe3e4; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
--surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
--contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}
/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  position: relative;
}

.page-title h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}


.light-background {
  background-color: #f3f4f4;
  /* surface-color: #ffffff; */
}
/*--------------------------------------------------------------
# Blog Posts Section
--------------------------------------------------------------*/
.blog-posts .title-wrap {
padding-bottom: 30px;
}

.blog-posts .content-subtitle {
font-size: 15px;
margin-bottom: 10px;
display: block;
color: var(--default-color);
}

.blog-posts .content-title {
color: var(--heading-color);
font-size: 22px;
margin-bottom: 30px;
}

.blog-posts .post-entry .thumb {
margin-bottom: 20px;
}

.blog-posts .post-entry .thumb img {
transition: 0.3s all ease;
}

.blog-posts .post-entry .thumb:hover img {
opacity: 0.8;
}

.blog-posts .post-entry .meta {
font-size: 12px;
margin-bottom: 20px;
}

.blog-posts .post-entry .meta .cat {
text-transform: uppercase;
font-weight: normal;
color: var(--heading-color);
}

.blog-posts .post-entry .meta .date {
color: color-mix(in srgb, var(--default-color), transparent 25%);
}

.blog-posts .post-entry .post-content {
padding-left: 30px;
padding-right: 30px;
}

.blog-posts .post-entry .post-content h3 {
font-size: 18px;
line-height: 1.2;
}

.blog-posts .post-entry .post-content h3 a {
color: var(--heading-color);
}

.blog-posts .post-entry .post-content h3 a:hover {
color: var(--accent-color);
}

.blog-posts .author .pic {
flex: 0 0 50px;
margin-right: 20px;
}

.blog-posts .author .author-name {
line-height: 1.3;
}

.blog-posts .author .author-name strong {
color: var(--heading-color);
font-weight: normal;
}

.blog-posts .author .author-name span {
font-size: 14px;
color: color-mix(in srgb, var(--default-color), transparent 25%);
}
/*--------------------------------------------------------------
# Blog Details Section
--------------------------------------------------------------*/
.blog-details {
padding-bottom: 30px;
}

.blog-details .article {
background-color: var(--surface-color);
padding: 30px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-details .post-img {
margin: -30px -30px 20px -30px;
overflow: hidden;
}

.blog-details .title {
color: var(--heading-color);
font-size: 28px;
font-weight: 700;
padding: 0;
margin: 30px 0;
}

.blog-details .content {
margin-top: 20px;
}

.blog-details .content h3 {
font-size: 22px;
margin-top: 30px;
font-weight: bold;
}

.blog-details .content blockquote {
overflow: hidden;
background-color: color-mix(in srgb, var(--default-color), transparent 95%);
padding: 60px;
position: relative;
text-align: center;
margin: 20px 0;
}

.blog-details .content blockquote p {
color: var(--default-color);
line-height: 1.6;
margin-bottom: 0;
font-style: italic;
font-weight: 500;
font-size: 22px;
}

.blog-details .content blockquote:after {
content: "";
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 3px;
background-color: var(--accent-color);
margin-top: 20px;
margin-bottom: 20px;
}

.blog-details .meta-top {
margin-top: 20px;
color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-details .meta-top ul {
display: flex;
flex-wrap: wrap;
list-style: none;
align-items: center;
padding: 0;
margin: 0;
}

.blog-details .meta-top ul li+li {
padding-left: 20px;
}

.blog-details .meta-top i {
font-size: 16px;
margin-right: 8px;
line-height: 0;
color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-details .meta-top a {
color: color-mix(in srgb, var(--default-color), transparent 40%);
font-size: 14px;
display: inline-block;
line-height: 1;
}

.blog-details .meta-bottom {
padding-top: 10px;
border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.blog-details .meta-bottom i {
color: color-mix(in srgb, var(--default-color), transparent 40%);
display: inline;
}

.blog-details .meta-bottom a {
color: color-mix(in srgb, var(--default-color), transparent 40%);
transition: 0.3s;
}

.blog-details .meta-bottom a:hover {
color: var(--accent-color);
}

.blog-details .meta-bottom .cats {
list-style: none;
display: inline;
padding: 0 20px 0 0;
font-size: 14px;
}

.blog-details .meta-bottom .cats li {
display: inline-block;
}

.blog-details .meta-bottom .tags {
list-style: none;
display: inline;
padding: 0;
font-size: 14px;
}

.blog-details .meta-bottom .tags li {
display: inline-block;
}

.blog-details .meta-bottom .tags li+li::before {
padding-right: 6px;
color: var(--default-color);
content: ",";
}

.blog-details .meta-bottom .share {
font-size: 16px;
}

.blog-details .meta-bottom .share i {
padding-left: 5px;
}

/*--------------------------------------------------------------
# Blog Comments Section
--------------------------------------------------------------*/
.blog-comments {
padding: 10px 0;
}

.blog-comments .comments-count {
font-weight: bold;
}

.blog-comments .comment {
margin-top: 30px;
position: relative;
}

.blog-comments .comment .comment-img {
margin-right: 14px;
}

.blog-comments .comment .comment-img img {
width: 60px;
}

.blog-comments .comment h5 {
font-size: 16px;
margin-bottom: 2px;
}

.blog-comments .comment h5 a {
font-weight: bold;
color: var(--default-color);
transition: 0.3s;
}

.blog-comments .comment h5 a:hover {
color: var(--accent-color);
}

.blog-comments .comment h5 .reply {
padding-left: 10px;
color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.blog-comments .comment h5 .reply i {
font-size: 20px;
}

.blog-comments .comment time {
display: block;
font-size: 14px;
color: color-mix(in srgb, var(--default-color), transparent 40%);
margin-bottom: 5px;
}

.blog-comments .comment.comment-reply {
padding-left: 40px;
}

/*--------------------------------------------------------------
# Comment Form Section
--------------------------------------------------------------*/
.comment-form {
padding-top: 10px;
}

.comment-form form {
background-color: var(--surface-color);
margin-top: 30px;
padding: 30px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.comment-form form h4 {
font-weight: bold;
font-size: 22px;
}

.comment-form form p {
font-size: 14px;
}

.comment-form form input {
background-color: var(--surface-color);
color: var(--default-color);
border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
font-size: 14px;
border-radius: 4px;
padding: 10px 10px;
}

.comment-form form input:focus {
color: var(--default-color);
background-color: var(--surface-color);
box-shadow: none;
border-color: var(--accent-color);
}

.comment-form form input::placeholder {
color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.comment-form form textarea {
background-color: var(--surface-color);
color: var(--default-color);
border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
border-radius: 4px;
padding: 10px 10px;
font-size: 14px;
height: 120px;
}

.comment-form form textarea:focus {
color: var(--default-color);
box-shadow: none;
border-color: var(--accent-color);
background-color: var(--surface-color);
}

.comment-form form textarea::placeholder {
color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.comment-form form .form-group {
margin-bottom: 25px;
}

.comment-form form .btn-primary {
border-radius: 4px;
padding: 10px 20px;
border: 0;
background-color: var(--accent-color);
color: var(--contrast-color);
}

.comment-form form .btn-primary:hover {
color: var(--contrast-color);
background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widgets-container {
margin: 60px 0 30px 0;
}

.widget-title {
color: var(--heading-color);
font-size: 20px;
font-weight: 600;
padding: 0 0 0 10px;
margin: 0 0 20px 0;
border-left: 4px solid var(--accent-color);
}

.widget-item {
margin-bottom: 30px;
background-color: color-mix(in srgb, var(--default-color), transparent 98%);
border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
padding: 30px;
border-radius: 5px;
}

.widget-item:last-child {
margin-bottom: 0;
}

.blog-author-widget img {
max-width: 160px;
}

.blog-author-widget h4 {
font-weight: 600;
font-size: 24px;
margin: 15px 0 0 0;
padding: 0;
color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.blog-author-widget .social-links {
margin: 5px 0;
}

.blog-author-widget .social-links a {
color: color-mix(in srgb, var(--default-color), transparent 60%);
margin: 0 3px;
font-size: 18px;
}

.blog-author-widget .social-links a:hover {
color: var(--accent-color);
}

.blog-author-widget p {
font-style: italic;
color: color-mix(in srgb, var(--default-color), transparent 30%);
margin: 10px 0 0 0;
}

.search-widget form {
background: var(--background-color);
border: 1px solid color-mix(in srgb, var(--default-color), transparent 75%);
padding: 3px 10px;
position: relative;
border-radius: 50px;
transition: 0.3s;
}

.search-widget form input[type=text] {
border: 0;
padding: 4px 10px;
border-radius: 4px;
width: calc(100% - 40px);
background-color: var(--background-color);
color: var(--default-color);
}

.search-widget form input[type=text]:focus {
outline: none;
}

.search-widget form button {
background: none;
color: var(--default-color);
position: absolute;
top: 0;
right: 0;
bottom: 0;
border: 0;
font-size: 16px;
padding: 0 16px;
transition: 0.3s;
line-height: 0;
}

.search-widget form button i {
line-height: 0;
}

.search-widget form button:hover {
color: var(--accent-color);
}

.search-widget form:is(:focus-within) {
border-color: var(--accent-color);
}

.recent-posts-widget .post-item {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

.recent-posts-widget .post-item:last-child {
margin-bottom: 0;
}

.recent-posts-widget .post-item h4 {
font-size: 16px;
font-weight: 600;
margin-bottom: 5px;
}

.recent-posts-widget .post-item h4 a {
color: var(--default-color);
transition: 0.3s;
}

.recent-posts-widget .post-item h4 a:hover {
color: var(--accent-color);
}

.recent-posts-widget .post-item time {
display: block;
font-style: italic;
font-size: 14px;
color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.tags-widget ul {
list-style: none;
padding: 0;
margin: 0;
}

.tags-widget ul li {
display: inline-block;
}

.tags-widget ul a {
background-color: color-mix(in srgb, var(--default-color), transparent 94%);
color: color-mix(in srgb, var(--default-color), transparent 30%);
border-radius: 50px;
font-size: 14px;
padding: 5px 15px;
margin: 0 6px 8px 0;
display: inline-block;
transition: 0.3s;
}

.tags-widget ul a:hover {
background: var(--accent-color);
color: var(--contrast-color);
}

.tags-widget ul a span {
padding-left: 5px;
color: color-mix(in srgb, var(--default-color), transparent 60%);
font-size: 14px;
}


